PORT=5000
MONGODB_USERNAME=omchumbhale9110_db_user
MONGODB_PASSWORD=<db_password>
MONGODB_CLUSTER=cluster0.yx6zyym.mongodb.net
MONGODB_DB_NAME=stepwise
ADMIN_USERNAME=admin
ADMIN_PASSWORD=stepwise123
AUTH_SECRET=<long_random_secret>
VITE_API_BASE_URL=http://localhost:5000/api
